.DS_Store
*.keystore
*.log

.colima/_*
.colima/default/daemon/*
.colima/ssh_config
.config/.android/cache/
.config/colima/_*
.config/configstore/update-notifier-\@google/
.config/github-copilot/
.config/lazygit/state.yml
.config/nushell/history.txt
.config/raycast/

.homebridge/backups/instance-backups/

.gk/repoMapping.json

.config/antigravity-proxy/accounts.json
.config/antigravity-proxy/usage-history.json
